.card {
  width: 300px;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px rgb(212, 207, 207);
  cursor: pointer;

  a {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

  &__body {
    width: 100%;
    background-color: #fff;
    padding: 10px 20px 22px 20px;
    box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.15);
  }

  &:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
}